body{
    margin: 0;
}

.box {    
    border: 1px solid;
}

.box-1 {
    position: fixed;
    background: #db5a3a;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.box-2 {
    position: fixed;
    width: 25%;
    height: 100vh;
    background: #8bd48b;
}

.box-3 {
    width: 100%;
    height: 100vh;
    background: #9e63e2;
}

.box-4 {
    width: 100%;
    height: 100vh;
    background: #ddc947;
}

.scroll{
    display: flex;
}

.scroll-2{
    width: 100%;
    display: block;
}